name: CI

on:
  push:
    branches:
      - '**'

permissions:
  contents: read

env:
  BUNDLE_FROZEN: 0

jobs:
  test:
    strategy:
      matrix:
        os: [ 'ubuntu-24.04' ]
        ruby-version: ['3.2', '3.3', '3.4', '4.0']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Run tests
      run: bundle exec rake
